html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
            -webkit-background-clip: border-box;
            -webkit-background-origin: padding-box;
            -webkit-background-size: auto;
            background-attachment: scroll;
            background-clip: border-box;
            background-color: rgb(255, 255, 255);
            background-image: none;
            background-origin: padding-box;
            background-size: auto;
            color: rgb(51, 51, 51);
            direction: ltr;
            display: block;
            font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
            font-size: 14px;
            height: 867px;
            line-height: 14px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            overflow-y: scroll;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
            text-align: left;
            unicode-bidi: embed;
            width: 100%;
		height: 100%;    
        }
.clear { clear: both; }

#wrapper { margin: 0px auto; width: 1000px; }
#wrapper a { text-decoration: none; color: #F48A00; }
#wrapper span.highlight { color: #F48A00; }

#header { border-bottom: 1px solid #ccc; background-color: #d5f191;}
#header .top { border-bottom: 1px solid #ccc; margin-bottom: 10px; }
#header h2 { font-family: 'Irish Grover', cursive; font-size: 92px; text-align: center; line-height: 110px; }
#header h2 a { color: #000; }
#header h3 { text-align: center; font-family: 'La Belle Aurore', cursive; font-size: 24px; margin-bottom: 20px; font-weight: normal; }

.sidebar { width: 120px; display: inline-block; float: left; border-right: 1px solid #ccc; padding: 5px; margin-bottom: 20px; }

.sidebar ul.navigation { list-style: none; text-align: left; }
.sidebar .navigation li { display: block }
.sidebar .navigation li a { display: inline-block; padding: 10px 15px; }


.main-col { width: 869px; display: inline-block; }

.main-col a { color: #F48A00; }
.main-col h1,
.main-col h2
    { line-height: 1.2em; font-size: 32px; margin-bottom: 10px; font-weight: normal; color: #F48A00; }
.main-col p { line-height: 1.5em; margin-bottom: 20px; }

#footer { border-top: 1px solid #ccc; clear: both; text-align: center; padding: 10px; color: #aaa; }

#wrapch {margin: 0px auto; width: 100%;font-size: 1.3em;}
#chapter {
	float:left;
	width:10%;
	background:#9c9;
	padding: 10px;
}
#tool {
	float:right;
	width:85.39%;
	background:#99c;
	text-align: right;
	padding: 10px;
	min-height: 14px;
}
#footch {
clear:both;
padding:5px 10px;
background:#cc9;
}

table.selectable-table  {  
	border-collapse:separate; 
	border-spacing:1px;  
	background:#eef;
	}
table.selectable-table tbody td {  
	cursor:pointer;  
	margin:0px; 
	border:0px; 
	padding:5px 3px 5px 3px;   
	}
	
table.selectable-table thead td {  
	text-align: center;
	background:#d5f191;
	padding:5px 5px 5px 5px;	
	}